[user]
	name = Ricardo A. López Torres
	email = ricardo.a.lopez.torres1@gmail.com

[core]
  editor = nvim

[init]
  defaultBranch = main

[pull]
  rebase = false

[push]
  default = current

[color]
  ui = auto

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
